body {
  background-color: #ecf0f6;
}

.container {
  display: flex;
  align-items: center;
}

.loader {
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

.movies {
  display: flex;
  width: 80%;
  margin: 100px 10% 0 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
