.LinkDiv {
  position: fixed;
  display: flex;
  left: 50px;
  top: 100px;
  flex-direction: column;
  width: 100px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}

.LinkDiv a {
  color: #1021d4;
  padding: 15px 0px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(50, 50, 93, 0.11);
}
